 body { 
 	margin: 0;
 	background: #222;
 	font-family: 'Work Sans', sans-serif;
 	font-weight: 300;
 }

 .site-header {
 	margin: 0;
 	padding: 1rem;
 	background-color: #003366;
 	color: white;
 	display: block;
 }

 .slides {
 	margin-left: auto;
 	margin-right: auto;
 	font-size: 0.9em;
 	min-width: 25em;
    table-layout: fixed;
    width: 50%;
 }

 .slidesHead {
 	background-color: orange;
 	color: #003366;
 	text-align: center;
 	font-weight: bold;
 }

 .slides th, .slides td{
 	padding: 12px 15px;
 	text-align: center;
 }

 .slidesBody td{
 	border-bottom: 1px solid #dddddd;

 }

 .slidesBody tr:nth-of-type(even){
 	background-color: #f3f3f3;
 }

 

 container {
 	width: 1000px;
 	margin: auto;
 }

 .main-header
 {
 	background: white;
 }

header::after
{
	content: '' ;
	display: table;
	clear: both;
}
 nav

 {
 	
 	background-color: #d3d3d3;
 }

 nav ul
 {
 	margin: 0;
 	padding: 0;
 	list-style: none;

 }

 nav li
 {
 	display: inline-block;
 	margin-left: 70px;
 	padding-top: 25px;
 	position: relative;
 	
 }

 nav a
 {
 	color: #444;
 	text-decoration: none;
 	text-transform: uppercase;
 }

 nav a:hover, nav a:focus
 {
 	color: #000;
 }

 nav a::before
 {
 	content : "";
 	display: block;
 	height: 5px;
 	width: 100%;
 	background-color: #444;
 	position: absolute;
 	top: 0;
 	width: 0%;

 	transition: all ease-in-out 250ms;
 }

 nav a:hover::before, nav a:focus::before
 {
 	width: 100%;

 }

 .site-footer{
 	background-color: #d3d3d3;
 	font-style: italic;
 	text-align: right;
 	padding: 1rem;
 	display: block;
 }

 .content{
 	background-color: white;
 }

.slides a{
 	color: black;
 }

a:link{
text-decoration: none;
color: black;
 }

 a:hover, a:focus{
 	text-decoration: underline;
 	color: blue;
 }


pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
